$primary: #8f278f;
$secondary: #808080;
$tertiary: #E6E6FA;


.contactFormContainer {
  background-color: rgba(220, 220, 220, 0.2);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.contactFieldset {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

.contactFormCommentButton {
  display: flex;
  flex-direction: column;
}

.formContainer {
  width: 80%;
}

.formContents {
  width: 87%;
}

.contactFormInput {
  display:flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.contactContainer {
  display: flex;
}

.contactParagraph1 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif;
  padding-bottom: 1rem;
}

.contactParagraph2 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif;
  padding-bottom: 2rem;
}

.formContents {
  width: 87%;
}

textarea {
  height: 250px;
}

 #contactName,
 #contactEmail {
    border: none;
    background: #fff;
    padding: 0 5%;
    padding: 3%;
    width: 45%;
}

#contactComment {
  background: #fff;
  border-radius: 10px;
}

.contactFieldset {
  border: none;
  margin-top: 0;
  padding: 0;
}

.contactButton {
  text-align: center;
  line-height: 32px;
  padding: 0.7rem;
  font-size: 1rem;
  margin: 0;
}

.contactFormCommentButton {
  display: flex;
  flex-direction: column;
}

 #contactName,
 #contactEmail {
    border: none;
    border-bottom: 1px solid #fff;
    width: 45%;
}

#contactComment {
  border: 1px solid #fff;
  width: 100%;
}

.contactForm input,
textarea {
    color: $primary;
    padding: 3%;
    resize: none;
}

input#contactName,
input#contactEmail,
textarea#contactComment {
    border-bottom: 2px solid $primary;

}

#contactName:focus-within,
#contactEmail:focus-within,
#contactComment:focus-within {
  border: 2px solid $primary;
}

.submitButton p {
  padding: 0.2rem;
  font-size: 1rem;
}

.submitButtonContainer {
    margin: 7% 0;

}

.socialHandles {
  display: flex;
  justify-content: center;
  margin-top: 0;

  i {
    font-size: 1.5rem;
    margin: 0 2rem;
    color: $secondary;
    &:hover {
      color: $primary;
      transition: all 0.3s;
    }
  }
}