$primary: #8f278f;
$secondary: #696969;
$tertiary: #ddbedd;
 
 html {
  font-size: 125%;
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  max-width: 100%;
  overflow-x: hidden;
}

 body {
    max-width: 100%;
    overflow-x: hidden;
  }


 img {
  width: 100%;
}

 ul {
  list-style-type: none;
  font-weight: 500;
}

 h1 {
  font-family: 'Gravitas One', cursive;
  font-weight: 700;
  font-size: 4rem;
  text-transform: capitalize;
  width: 50%;
  line-height: 4.7rem;
  margin-top: 8%;
  color: $secondary;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $secondary;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

a, li {
  color: #fff;;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;

  a:hover, li:hover {
    color: $primary;
    transition: all 0.3s;
  }
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  border: none;
  background: $primary;
  border: 2px solid $primary;
  border-radius: 0.5rem;
  cursor: pointer;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: $secondary;
  border: 2px solid $secondary;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
  border: 2px solid $primary;
}

button:hover a {
  cursor: pointer;
  color: fff;
  border: 2px solid $secondary;
}

button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


input {
  border-bottom: 1px solid $primary;
}

fieldset {
  border: none;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1380px;
  margin: 0 auto;
  height: 100%;
}

footer p {
  text-align: center;
  font-size: 0.7rem;
  padding: 1.5% 7%;
  line-height: 1rem;
}