$primary: #8f278f;
$secondary: #696969;
$tertiary: #ddbedd;
 
 html {
  font-size: 125%;
  // overflow-x: hidden;
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

 body {
    overflow-x: hidden;
    // overflow-y: hidden;
 
  }


 img {
  width: 100%;
}

 a {
  color: #000;
  text-decoration: none;
//  border: 2px solid green;
}

 a:focus {
  outline: 3px solid #86e0f9;
}

 ul {
  list-style-type: none;
}

 h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: capitalize;
  width: 50%;
  line-height: 4rem;
  margin-top: 15%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $secondary;
}

h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
}

p {
  padding: 5% 0;
}

a {
color: $secondary;
text-decoration: none;
}

a:focus {
  outline: 3px solid #86e0f9;
}


button {
  background: #8f278f;
  border: 1px solid #8f278f;
  color: #fff;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  text-transform: capitalize;
  margin-right: 2%;
  
  &:hover {
    background: $tertiary;
    border: 1px solid $tertiary;
    color: $secondary;
    transition: all 0.3s;
  }
}

input {
  border-bottom: 1px solid $primary;
}

span {
  text-transform: uppercase;
}

fieldset {
  border: none;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  padding: 1%;
}

:focus {
  outline: 3px solid #86e0f9;
  border-radius: 1rem;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  // width: 85%;
  height: 100%;
}