$primary: #8f278f;
$secondary: #696969;
$tertiary: #ddbedd;
 
 html {
  font-size: 125%;
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

 body {
    overflow-x: hidden; 
  }


 img {
  width: 100%;
}

 a {
  color: #000;
  text-decoration: none;
}

 a:focus {
  outline: 3px solid #86e0f9;
}

 ul {
  list-style-type: none;
}

 h1 {
  font-family: 'Gravitas One', cursive;
  font-weight: 700;
  font-size: 4rem;
  text-transform: capitalize;
  width: 50%;
  line-height: 5rem;
  margin-top: 15%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $secondary;
}

h3 {
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

// p {
//   padding: 5% 0;
// }

a {
  color: #fff;;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #fff;
}

a:visted {
  color: #fff;
}

a:focus {
  outline: 3px solid #86e0f9;
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background: $primary;
  border: 2px solid $primary;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

button::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-525%, 0, 0) rotate(35deg);
}

button:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(200%, 0, 0) rotate(35deg);
  color: #fff;
}

input {
  border-bottom: 1px solid $primary;
}

span {
  text-transform: uppercase;
}

fieldset {
  border: none;
}


:focus {
  outline: 3px solid #86e0f9;
  border-radius: 1rem;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  // width: 85%;
  height: 100%;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  padding: 1%;
}