$primary: #8f278f;
$secondary: #686666;
$tertiary: #e61c5d;

html {
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.headerContainer {
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .whitneyReidLogo{
   width: 65%;
   height: 65%;
   margin: 0 auto;
   margin-bottom: 5%;

    & {
   /*animation time for different browsers*/
   -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
/*setting the opacity to fade in from 0 to 1, aka from transparent to opaque*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
}
 }

   #loading {
		-webkit-animation: rotation 4s;
  }

  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }

.headerContentsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.navLinks {
  display: flex;
  flex-direction: row;
  padding: 1% 0;

  a {
    color: $secondary;
    font-family: 'Montserrat', sans-serif;
  }
}

nav li:first-child {
  padding-left: 0;
}

li {
  padding: 0 5%;
  text-transform: capitalize;
}

.logoContainer {
  margin-right: 3%;
}

.sectionHeading {
  text-transform:  capitalize;
  font-family: 'Gravitas One', cursive;
  color: $primary;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.headerTitle {
  color: $primary;
}

.subHeader {
  color: $secondary;
  padding: 1% 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.headerParagraph {
  padding-top: 3%; 
  width: 43%;
  line-height: 1.5rem;
  color: $secondary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

  .headerConnect {
    padding-top: 1%;
    padding-bottom: 8%;
  }

  .connect {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
    border-bottom: 2px solid $primary;
    display: inline-block;
    cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $tertiary;
    color: white;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
    cursor: pointer;
  
    }
    &:hover:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      color: white;
      cursor: pointer;
  }
}

.headerIcons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 90px;
  padding-right: 1%;
  z-index: 10;
}

.headerIcons i {
  font-size: 1.5rem;
  color: $primary;
  padding: 0% 15px;
  cursor: pointer;
  
  &:hover {
    color: $tertiary;
    transition: all 0.3s;
  }
}

.arrowContainer  {
  color: $primary;
  cursor: pointer;
  position: absolute;
  bottom: 2%;


  i {
    font-size: 2rem;
  }
  &:hover {
    color: $tertiary;
    transition: all 0.3s;
  }
}

//Bounce Animation

.bounce {
   -moz-animation: bounce 3s infinite;
   -webkit-animation: bounce 3s infinite;
   animation: bounce 3s infinite;
}
@keyframes bounce {
   0%,
   20%,
   50%,
   80%,
   100% {
       transform: translateY(0);
   }
   40% {
       transform: translateY(-30px);
   }
   60% {
       transform: translateY(-15px);
   }
}

// Hamburger menu/

/* CORE STYLES */
:root {
  --primary-color: rgba(144, 39, 142, 1);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
   display: flex;
  align-items: end;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.hamburger {
  position: absolute;
  right: 0;
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  font-size: 1.4rem;
  cursor: pointer;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: $primary;
}

//MEDIA QUERIES

@media only screen and (max-width: 1576px){

  .headerContainer {
    background-position: 70% 0px;
  }

  .innerWrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1416px){

  .innerWrapper {
    max-width: 1180px;
    margin: 0 auto;
  }

  h1{
    font-size: 3.5rem;
    line-height: 4.7rem;
  }

  .headerParagraph {
    width: 46%;
  }
}

@media only screen and (max-width: 1305px){

  .logoContainer {
    padding-left: 3%;
  }

  .headerParagraph, .headerConnect {
    padding-left: 3%;
    width: 48%;
    line-height: 1.3rem;
  }

  button {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1256px){

  .navLinks {
    display: none;
  }
  .arrowContainer {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 950px){

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .headerConnect {
    padding-bottom: 0%;
  }

  .headerParagraph {
    width: 45%;
  }
}

@media only screen and (max-width: 899px){

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .innerWrapper {
    position: relative;
  }

  h1 {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    // font-size: 2.3rem;
    margin-top: 0;
    line-height: 3rem;
  }

  .headerParagraph {
    padding-bottom: 0 7%;
    font-size: 1rem;
    text-align: left;
    padding-top: 5%;
  }

  .headerContents {
    text-align: center;
  }

  .headerConnect {
    width: 100%;
    padding: 1% 8%;
  }

  .arrowContainer {
    margin-top: 6%;
  }

  .zoltarSpeaksContents, 
  .foodieAppContents, 
  .eventsAppContents {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 712px){

  .headerParagraph {
    font-size: 0.9rem;
  }
}

@media  screen and  (max-height: 360px)  {
   @media  screen and  (max-width: 740px) {

    .headerContainer {
      height: 120vh;
    }
    
    h1 {
      font-size: 1.5rem;
    }

    .subHeader {
      font-size: 0.7rem;
    }

    .headShotContainer {
      display: flex;
    }

    .headShotContainer img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      margin-top: 10%;
    }

    .sectionHeading {
      font-size: 1.5rem;
    }

    .arrowContainer i {
      font-size: 1.5rem;
    } 

    .arrowContainer {
      bottom: -44%;
    }

  }
}

@media only screen and (max-width: 628px){

  .headerParagraph {
    font-size: 0.9rem;
  }

  .headerConnect {
    font-size: 0.9rem;
  }
}

@media  screen and  (max-height: 414px)  {
   @media  screen and  (max-width: 736px) {

      .whitneyReidLogo {
        width: 42%;
        height: 42%;
      }
      
      h1 {
        font-size: 1.5rem;
      }

    .subHeader {
      font-size: 0.7rem;
    }

    .headShotContainer {
      display: flex;
    }

    .headShotContainer img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      margin-top: 10%;
    }

    .sectionHeading {
      font-size: 1.5rem;
    }

    .arrowContainer i {
      font-size: 1.5rem;
    } 

   }
}

@media only screen and (max-width: 628px){

  .headerParagraph {
    font-size: 0.9rem;
  }

  .headerConnect {
    font-size: 0.9rem;
  }
}

@media  screen and  (max-height: 375px)  {
   @media  screen and  (max-width: 667px) {

      .whitneyReidLogo {
      width: 50%;
      height: 50%;
    }
      
    h1 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1rem;
    }

    .subHeader {
      font-size: 0.7rem;
    }

    .headShotContainer {
      display: flex;
    }

    .headShotContainer img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      margin-top: 10%;
    }

    .sectionHeading {
      font-size: 1.5rem;
    }

    .arrowContainer i {
      font-size: 1.5rem;
    } 
  }
}

@media only screen and (max-width: 628px){

  .headerParagraph {
    font-size: 0.9rem;
  }

  .headerConnect {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 546px){
  
  h1 {
    font-size: 2.5rem;
  }

  .subHeader {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 492px){

  h1 {
    font-size: 2rem;
  }

  .subHeader {
    font-size: 0.8rem;
  }

  .headerParagraph {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

   .headerConnect {
     font-size: 0.8rem;
  }
}

@media only screen and (max-width: 436px){ 

  .headerContentsContainer {
    top: 39%;
  }
}

@media only screen and (max-width: 400px){

   .sectionHeading {
      line-height: 1.9rem;
      padding: 7% 5%;
  }
}

@media only screen and (max-width: 375px){ 

  .headerParagraph {
    line-height: 1rem;
  }

  .headerContentsContainer {
    top: 30%;
  }
}

@media only screen and (max-width: 360px){ 

  h1 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1rem;
  }

  .subHeader {
    font-size: 0.6rem;
  }

  .headerConnect {
     font-size: 0.8rem;
  }
}

@media only screen and (max-width: 320px){ 

  h1 {
    font-size: 1rem;
    line-height: 2.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  .headerParagraph {
    font-size: 0.9rem;
    text-align: left;
    padding: 7%;
  }

  .menu {
    width: 100%;
  }
}


