$primary: #8f278f;
$secondary: #625c5c;
$tertiary: #ddbedd;


.headerContainer {
  background-image: url('../images/headerBackground.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
 }

.headerContentsContainer {
  display: flex;
  flex-direction: column;
}

.navLinks {
  display: flex;
  flex-direction: row;
  padding: 1% 0;

  a {
    color: $secondary;
    font-family: 'Montserrat', sans-serif;
  }
}

nav li:first-child {
  padding-left: 0;
}

ul {
  display: flex;
  padding-top: 1%;
  align-items: center;
}

li {
  padding: 0 5%;
  text-transform: uppercase;
}

.logoContainer {
  margin-right: 3%;
}

.whitneyLogo {
  width: 70px;
  padding-top: 3%;

}

.sectionHeading {
  text-transform:  uppercase;
  font-family: 'Gravitas One', cursive;
  color: $secondary;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}

.headerTitle {
  color: $secondary;
}

.subHeader {
  color: $primary;
  padding: 1% 0;
  text-transform: capitalize;
  font-weight: 500;
  padding-left: 1%;
}

.headerParagraph {
  padding-top: 3%; 
  width: 43%;
  line-height: 1.5rem;
  color: $secondary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.headerConnect {
   padding-top: 1%;
   padding-bottom: 8%;
}

.connect {
  color: $secondary;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 3px solid $primary;
  padding-bottom: 0.2%;
  font-family: 'Montserrat', sans-serif;
  
  &:hover {
    color: $primary;
    transition: all 0.3s;
  }
}

.headerIcons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 128px;
  padding-right: 1%;
  z-index: 10;
}

.headerIcons i {
  font-size: 2rem;
  color: $primary;
  padding: 0% 15px;
  cursor: pointer;
  
  &:hover {
    color: $secondary;
    transition: all 0.3s;
  }
}

.arrowContainer  {
  color: $primary;
  cursor: pointer;
  margin: 0 auto;


  i {
    font-size: 2rem;
  }
  &:hover {
    color: $secondary;
    transition: all 0.3s;
  }
}

//Bounce Animation

.bounce {
   -moz-animation: bounce 3s infinite;
   -webkit-animation: bounce 3s infinite;
   animation: bounce 3s infinite;
}
@keyframes bounce {
   0%,
   20%,
   50%,
   80%,
   100% {
       transform: translateY(0);
   }
   40% {
       transform: translateY(-30px);
   }
   60% {
       transform: translateY(-15px);
   }
}


// Hamburger menu/
.menuToggle{
	display:none;
}

//MEDIA QUERIES

@media only screen and (max-width: 1576px){

  .headerContainer {
    background-position: 70% 0px;
  }

  .innerWrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1416px){

  .innerWrapper {
    max-width: 1180px;
    margin: 0 auto;
  }

  h1{
    font-size: 3.5rem;
    line-height: 4.7rem;
  }

  .headerParagraph {
    width: 46%;
  }
}

@media only screen and (max-width: 1305px){

  .logoContainer {
    padding-left: 3%;
  }

  h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    line-height: 5rem;
    // margin-top: 18%;
    padding-left: 3%;
    padding-top: 1%;
  }

  .subHeader,
  .headerParagraph {
    padding-left: 3%;
  }

  .headerParagraph, .headerConnect {
    padding-left: 3%;
    width: 48%;
    line-height: 1.3rem;
  }

  button {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1256px){

  h1 {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .navLinks {
    display: none;
  }
  .arrowContainer {
    margin-top: 5%;
  }

  // Hamburger menu

	.menuToggle {
		/* Relative so our .menu and .hello and our input have an anchor */
	  	position: absolute;
	  	top: 9px;
      left: 9px;  
	  	z-index: 500;
	  	display:block;
	}

	.menuToggle input {
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  opacity: 0; /* hide this visually only */
	  z-index: 1000; /* and place it over the hamburger spans */
	}

	.menuToggle span {
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  background: $primary;
	  border-radius: 3px;
	  z-index: 20;
	  transform-origin: 4px 0px;
	  transition: transform 0.5s,
	              background 0.5s,
	              opacity 0.55s ease;
	}

	.menuToggle span:nth-of-type(3) {
	  transform-origin: 0% 100%;
	}
	
	/* when the checkbox is checked, select the spans
	and rotate it by 45deg, translate it to place it at 
	a perfect criss cross
	 */
	.menuToggle input:checked ~ span {
	  transform: rotate(45deg) translate(-2px, -1px);
	  /*background: #232323;*/
	}
	
	/* visually hide the middle span. *note*
	span:nth-child(2) will not work because the 
	middle span is not the second child in the
	.menuToggle div. This is a great use case of
	nth-of-type */
	.menuToggle input:checked ~ span:nth-of-type(2) {
	  opacity: 0;
	}

	.menuToggle input:checked ~ span:nth-of-type(3) {
	  transform: rotate(-45deg) translate(0, -1px);
	}

	.menu {
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  list-style-type: none;
	  /* move our menu left the same mount as 
	  the width it has  */
	  left: -300px;
	  /* add transition for that smooth slide back in */
	  transition: all 0.5s;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
  }

	.menu li {
	  padding: 30px 0;
	  font-size: 22px;
	  padding-left:50px;
	  text-transform: uppercase;
	}

	.menu a{
		text-decoration: none;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-weight:400;
		font-size: 1rem;
	}

	.menu a:hover{
		color: $primary;
	}

	/*
	when the checkbox is checked, select the menu
	and move it from left -300px back to 0 so it's
	visible
	 */
	.menuToggle input:checked ~ .menu {
	  left: 0;  /* was at left: -300px ;*/ 
	}
	
	/*
	when the checkbox is checked, select the hello
	and move it from left -300px back to 0 so it's
	visible
	 */

}

@media only screen and (max-width: 1255px){

  h1{
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1232px){

  h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

@media only screen and (max-width: 1140px){

  h1 {
    width: 40%;
  }
}

@media only screen and (max-width: 950px){

  .headerContainer {
    background-image: url('../images/headerBackground950.png');
  }

  .headerContentsContainer {
    padding-top: 10%;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 35%;
    margin-top: 10%;
  }

  .headerConnect {
    padding-bottom: 0%;
  }

  .subHeader {
    font-size: 1.2rem;
    width: 100%;
  }

  .headerParagraph {
    width: 45%;
  }
}

@media only screen and (max-width: 823px){

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .innerWrapper {
    position: relative;
  }
  
  .headerContainer {
    background-image: url('../images/headerBackground674.png');
    background-position: 80% 0px;
    height: 150vh;
  }

  .headerContentsContainer {
    display: flex;
    position: absolute;
    top: 46%;
  }

  h1 {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 2%;
    font-size: 2.5rem;
    margin-top: 17%;
    line-height: 3rem;
  }

  .subHeader,
  .headerParagraph {
    width: 100%;
    padding: 0 8%;
  }

  .subHeader {
    text-align: center;
    padding: 2%;
    font-size: 1.3rem;
  }

  .headerParagraph {
    padding-bottom: 0 7%;
    font-size: 1rem;
    text-align: left;
    padding-top: 5%;
  }

  .headerContents {
    text-align: center;
  }

  .whitneyLogo {
    display: none;
  }
  
  .headerContainer {
    background-position: 50% 0px;
  }

  .headerConnect {
    width: 100%;
    padding: 0 8%;
  }

  .arrowContainer {
    margin-top: 13%;
  }

  .zoltarSpeaksContents, 
  .foodieAppContents, 
  .eventsAppContents {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 764px){
  // .headerContainer {
  //   background-image: url('../images/headerBackground_740.png');
  //   // height: 140vh;
  // }

  .menuToggle span{
	  background: $secondary;
  }
}

@media only screen and (max-width: 740px){
  .headerContainer {
    background-image: url('../images/headerBackground_740.png');
    // height: 250vh;
  }
  .headerContentsContainer {
    top: 42%;
  }
}

@media only screen and (max-width: 550px){
  .list2 {
    display: none;
  }
}

@media only screen and (max-width: 457px){
  .headerContainer {
    background-image: url('../images/headerBackground457.png');
  }

}

@media only screen and (max-width: 415px){ 
 .headerContainer {
    background-image: url('../images/headerBackground_360.png');
    height: 150vh;
  }

}

@media only screen and (max-width: 400px){
   .sectionHeading {
    line-height: 1.9rem;
    padding: 7% 5%;
  }
}

@media only screen and (max-width: 375px){ 
 .headerContainer {
    background-image: url('../images/headerBackground_360.png');
  }
  .headerContentsContainer {
    top: 43%;
  }

  .menuToggle span {
    background: #c4c4c4;
  }
}

@media only screen and (max-width: 360px){ 

   .headerContainer {
    background-image: url('../images/headerBackground_360.png');
    height: 150vh;
  }

  .headerContentsContainer {
    top: 40%;
  }

  h1 {
    margin: 0%;
  }
}

@media only screen and (max-width: 355px){ 

  h1 {
    margin-top: 0%;
    font-size: 2rem;
  }

  .subHeader {
    font-size: 1rem;
    line-height: 1rem;
  }

  .headerParagraph {
    font-size: 0.9rem;
    text-align: left;
    padding: 7%;
  }

  .menu {
    width: 100%;
  }
}


