$primary: #8f278f;
$secondary: #686666;
$tertiary: #e61c5d;

// ABOUT ME

.headShotParagraph {
  margin-top: 5%;
}

.aboutMeParagraph {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: $tertiary;
}

.headShotContents {
  padding-right: 7%;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 7%;
  padding-top: 6%;
  color: $secondary;
}

//PROJECTS

.projects {
  background-color: rgba(220,220,220, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  padding: 5% 0;
}

.skills {
  display: block;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $secondary;
}

.zoltarSpeaksContents p,
.eventsAppContents p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 7%;
  padding-top: 5%;
  color: $secondary;
}

.zoltarSpeaksContents p {
  padding-right: 7%;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 7%;
  padding-top: 5%;
  color: $secondary;
}

.foodieAppContents p {
  padding-right: 13%;
  padding-top: 5%;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $secondary;
}
.eventsAppContents p {
  padding-right: 11%;
}

.aboutMeContainer,
.zoltarSpeaksContainer,
.foodieAppContainer,
.eventsAppContainer {
  display: flex;
}

 .zoltarHeading,
 .foodieHeading,
 .eventsHeading {
    padding-top: 5%;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $tertiary;
    font-size: 1.2rem;
  }

.zoltarSpeaksContents,
.foodieAppContents,
.eventsAppContents {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 5%;
} 

.headShotContents {
  width: 50%;
}

.headShotContainer,
.zoltarImageContainer,
.eventsAppImageContainer {
  width: 50%;

}

.headShotContainer {
  width: 500px;
  height: 500px;
  margin-right: 9%;
  margin-left: 2%;
}

.foodieAppImageContainer {
  width: 50%;
  margin-left: -5%;
  margin-right: 5%;
  cursor: pointer;
}

//TOOLKIT

.skillsToolkit {
  padding: 8% 0;
}

.iconGrouping {
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
  grid-gap: 40px;
  margin: 10% 12%;
  img {
    width: 80px;
    height: 80px;
  }
}

.gridItem {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
}

//FORM STYLES

.contactFormContainer {
    padding-top: 5%;
    padding-bottom: 2%;
}

.contactFieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
}

.footerIcons {
  display: flex;
  font-size: 2rem;
  color: #000;
}

//FOOTER STYLES

footer {
  color: #fff;
  background: $primary;
}

.footerParagraph p {
  color: #fff;
}
//MEDIA QUERIES

@media only screen and (max-width: 1622px){

 .iconGrouping {
    margin:  11%;
  }
}

@media only screen and (max-width: 1585px){

  .iconGrouping {
    margin: 8% 9%;
  }
}

@media only screen and (max-width: 1477px){

  .iconGrouping {
    margin: 8% 7%;
  }
}

@media only screen and (max-width: 1439px){

  .iconGrouping {
    margin: 0 6%;
  }
}

@media only screen and (max-width: 1405px){

  .iconGrouping {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 1383px){

  .iconGrouping {
    margin: 8% 5%;
  }
}

@media only screen and (max-width: 1375px){

  .zoltarHeading,
  .eventsHeading,
  .zoltarParagraph,
  .eventsParagraph,
  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer {
    margin-left: 10%;
  }

  .headShotContainer {
    margin-left: 5%;
  }

  .foodieAppImageContainer {
    margin-left: 3%;
  }

  .iconGrouping {
    margin: 8% 4%;
  }

}

@media only screen and (max-width: 1345px){
  .iconGrouping {
    margin: 0 15%;
  }
}

@media only screen and (max-width: 1315px){
  .iconGrouping {
    margin: 8% 2%;
  }
}

@media only screen and (max-width: 1289px){
  .iconGrouping {
    margin: 0px 15%;
  }
}

@media only screen and (max-width: 1130px){

  .aboutMeContainer {
    display: flex;
    flex-direction: column;
  }

  .headShotContents {
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
  }

  .headShotContainer {
    margin: 0 auto;
  }

  .aboutMeParagraph {
    margin-top: 7%;
  }
}

@media only screen and (max-width: 1030px){

  .iconGroupOne,
  .iconGroupTwo {
    display: flex;
    flex-direction: column;
    justify-content: none;
    display: inline-flex;
  }
}

@media only screen and (max-width: 896px){
  
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    font-size: 0.8rem;
    line-height:  1rem;
  }

  .zoltarImageContainer .eventsAppImageContainer {
    width: 66%;
  }

 .zoltarSpeaksButtonContainer button,
 .eventsAppButtonContainer button {
    margin: 3% 0;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 896px){

  
  .iconGrouping img {
      width: 80px;
      height: 80px;
    }
}

@media only screen and (max-width: 789px){

  .foodieAppButtonContainer button {
    margin: 3% 0;
  }
}

@media only screen and (max-width: 767px){

  .headShotContainer {
    width: 400px;
    height: 400px;
    margin-right: 9%;
    margin-left: 2%;
    margin: 0 auto;
  }

  .headShotParagraph {
    font-size: 0.9rem;
  }

  .connect {
    font-size: 0.9rem;
  }

  .zoltarSpeaksContents,
  .foodieAppContents,
  .eventsAppContents {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .zoltarImageContainer,
  .foodieAppImageContainer,
  .eventsAppImageContainer {
    display: flex;
    order: -1;
    width: 100%;
    margin: 0;
  }

  .zoltarSpeaksContainer,
  .foodieAppContainer,
  .eventsAppContainer {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  p.zoltarParagraph,
  .zoltarHeading,
  p.foodieParagraph,
  .foodieHeading,
  p.eventsParagraph,
  .eventsHeading {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .zoltarHeading,
  .foodieHeading,
  .eventsHeading {
    padding-top: 5%;
    padding-left: 0;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    padding-left: 0;
    padding-right: 5%;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .skills {
    font-size: 0.9rem;
  }

  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer,
  .foodieAppButtonContainer{
    margin: 0;
    padding-top: 3%;
  }

  .foodieAppButtonContainer a {
    font-size: 0.9rem;
  }

  .contactFieldset {
    margin: 0px 10%;
  }
}

@media only screen and (max-width: 497px) {
  
  .headShotContainer {
   width: 320px;
   height: 320px;
 }
  .sectionHeading {
    font-size: 1.5rem;
  }
  
}

@media only screen and (max-width: 375px) {

  .headShotParagraph {
    font-size: 0.8rem;
  }

  .connect {
    font-size: 0.8rem;
  }

  .aboutMeParagraph {
    font-size: 1.1rem;

  }

  .zoltarSpeaksContainer,
  .foodieAppContainer,
  .eventsAppContainer {
    margin-left: 9%;
  }

  .skills {
    font-size: 0.8rem;
  }

  .sectionHeading {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 3%;
  }

  .zoltarHeading, 
  .foodieHeading, 
  .eventsHeading {
    font-size: 0.9rem;
  }

  p.zoltarParagraph, 
  p.foodieParagraph, 
  p.eventsParagraph {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {

  .headShotContainer {
   width: 230px;
   height: 230px;
 }

  .contactFieldset {
    margin: 0;
  }
}

@media only screen and (max-width: 355px) {

  .sectionHeading {
    font-size: 1.2rem;
    padding: 10% 0;
  }

  footer p {
    text-align: center;
    font-size: 0.7rem;
    padding: 1.5% 7%;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  p.zoltarParagraph, 
  p.foodieParagraph, 
  p.eventsParagraph {
    font-size: 0.9rem;
    line-height: 1rem;
    padding-right: 0%;
  }
}