$primary: #8f278f;
$secondary: #808080;
$tertiary: #E6E6FA;

// .aboutMe {
//   display: flex;
//   border: 2px solid red;
// }

.sectionHeading h2 {
  text-transform: capitalize;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  color: $secondary;
}

//PROJECTS

.projects {
  background-color: rgba(220,220,220, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  padding: 5% 0;
}

.zoltarSpeaksContents p,
.foodieAppContents p,
.eventsAppContents p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Merriweather Sans', sans-serif;
}

.zoltarSpeaksContainer,
.foodieAppContainer,
.eventsAppContainer {
  display: flex;
}

.zoltarSpeaksContents,
.foodieAppContents,
.eventsAppContents {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 5%;
  margin-left: 5%
}

.zoltarImageContainer,
.foodieAppImageContainer,
.eventsAppImageContainer {
  width: 50%;
}

.zoltarImageContainer,
.eventsAppImageContainer {
  margin:  0 5% ;
}

//TOOLKIT

.iconContainer img {
  width: 10vw;
  height: 10vh;
}


.fireBaseLogo img,
.w3cLogo img,
.vsCodeLogo img,
.responsiveLogo img {
  width: 10vw;
  // display: inline-block;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
}

.jQueryLogo img {
  width: 7vw;
}

.skillsToolkit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;

}

.iconGrouping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20vw;
}

i {
  margin: 0 1rem;
  padding-bottom: 55%;
  font-size: 5rem;
  font-size: 4rem;
}

.jQuerryLogo {
  width: 10vw;

}

//FORM STYLES


.contactFormContainer {
  padding: 5% 0;
}

footer {
  color: #fff;
  background: $secondary;
}

//MEDIA QUERIES

@media only screen and (max-width: 1577px){

  .iconGrouping {
    margin: 0 18vw;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1490px){

  .iconGrouping {
    margin: 0 15vw;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1310px){

  .zoltarHeading,
  .eventsHeading,
  .zoltarParagraph,
  .eventsParagraph,
  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer {
    margin-left: 10%;
  }

  .foodieAppImageContainer {
    margin-left: 3%;
  }

 .iconGrouping {
    margin: 0 12vw;
    justify-content: space-between;
  } 
}

@media only screen and (max-width: 1193px){

  .iconGrouping {
    margin: 0 11vw;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1074px){

  .iconGrouping {
    margin: 0 18vw;
    justify-content: space-between;
  }

  i {
    font-size: 5rem;
  }

}


@media only screen and (max-width: 1030px){

  .skillsToolkit {
    display: flex;
    flex-direction: column;
  }

  .iconGroupOne,
  .iconGroupTwo {
    display: flex;
    flex-direction: column;
    justify-content: none;
    display: inline-flex;
  }

  i {
    display: inline-flex;
    margin: 0;
  }

}

@media only screen and (max-width: 1026px){

  .iconGrouping {
    margin: 0 22vw;
  }

  i {
    font-size: 5rem;
    margin: 0 35%;
  }

}

@media only screen and (max-width: 896px){
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    font-size: 0.8rem;
    line-height:  1rem;
  }

  .zoltarImageContainer .eventsAppImageContainer {
    width: 66%;
  }

 .zoltarSpeaksButtonContainer button,
 .eventsAppButtonContainer button {
    margin: 3% 0;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 836px){

  .iconGrouping {
    margin: 0 25vw;
  }

  i {
    font-size: 5rem;
    margin: 0 15%;
  }

}

@media only screen and (max-width: 823px){

  .iconGrouping {
    margin: 0 25vw;
  }

  i {
    font-size: 5rem;
    margin: 0 15%;
  }

}

@media only screen and (max-width: 770px){

  // .iconGrouping {
  //   width: 70vw;
  //   border: 2px solid red;
  // }

  .iconContainer{
    // font-size: 4rem;
    margin: 0 5%;
  }

  .jQueryLogo img,
  .w3cLogo img {
    width: 116px;
    border: 2px solid red;
  }

}

@media only screen and (max-width: 767px){

  .zoltarSpeaksContents,
  .foodieAppContents,
  .eventsAppContents {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .zoltarImageContainer,
  .foodieAppImageContainer,
  .eventsAppImageContainer {
    display: flex;
    order: -1;
    width: 100%;
    margin: 0;
  }

  .zoltarSpeaksContainer,
  .foodieAppContainer,
  .eventsAppContainer {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  p.zoltarParagraph,
  .zoltarHeading,
  p.foodieParagraph,
  .foodieHeading,
  p.eventsParagraph,
  .eventsHeading {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 5%;
  }

  .zoltarHeading,
  .foodieHeading,
  .eventsHeading {
    padding-top: 5%;
  }

  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer{
    margin: 0;
    padding-left: 5%;
    padding-top: 3%;
  }

  .foodieAppButtonContainer {
    margin: 0;
    padding-top: 3%;
  }
}

@media only screen and (max-width: 509px){

  .iconGrouping {
    margin: 0 25vw;
    border: 2px solid purple;
  }

  i {
    font-size: 5rem;
    margin: 0 15%;
  }

  .jQueryLogo img,
  .fireBaseLogo img,
  .w3cLogo img,
  .vsCodeLogo img,
  .responsiveLogo img {
    width: 21vw;
  }
}

@media only screen and (max-width: 355px){

  .iconGrouping {
    margin: 0 20vw;
    border: 2px solid purple;
  }

  i {
    font-size: 4rem;
    margin: 0 15%;
  }

  .jQueryLogo img,
  .fireBaseLogo img,
  .w3cLogo img,
  .vsCodeLogo img,
  .responsiveLogo img {
    width: 21vw;
  }
}