article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, button, p, li, ul, a, img {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: 3px solid #86e0f9;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: capitalize;
  width: 50%;
  line-height: 4rem;
  margin-top: 15%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #696969;
}

h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
}

p {
  padding: 5% 0;
}

a {
  color: #696969;
  text-decoration: none;
}

a:focus {
  outline: 3px solid #86e0f9;
}

button {
  background: #8f278f;
  border: 1px solid #8f278f;
  color: #fff;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  text-transform: capitalize;
  margin-right: 2%;
}

button:hover {
  background: #ddbedd;
  border: 1px solid #ddbedd;
  color: #696969;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input {
  border-bottom: 1px solid #8f278f;
}

span {
  text-transform: uppercase;
}

fieldset {
  border: none;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  padding: 1%;
}

:focus {
  outline: 3px solid #86e0f9;
  border-radius: 1rem;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.headerContainer {
  background-image: url("../images/headerBackground.png");
  height: 100vh;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundImage {
  position: fixed;
}

.headerContentsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1% 0;
}

nav li:first-child {
  padding-left: 0;
}

ul {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
}

li {
  padding: 0 5%;
  text-transform: uppercase;
}

.headerTitle {
  color: #696969;
}

.subHeader {
  color: #8f278f;
  padding: 1% 0;
}

.headerParagraph {
  padding: 2% 0;
  width: 50%;
  line-height: 1.3rem;
  color: #333;
}

.headerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 70px;
  padding-right: 1%;
}

.headerIcons i {
  font-size: 0.9rem;
  color: #8f278f;
}

.headerIcons i:hover {
  color: #696969;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 1490px) {
  .headerContainer {
    background-position: 70% 0px;
  }
}

@media only screen and (max-width: 1305px) {
  h1 {
    font-size: 3rem;
    text-transform: capitalize;
    line-height: 3rem;
    padding-left: 3%;
  }
  .subHeader,
  .headerParagraph {
    padding-left: 3%;
  }
  .headerParagraph {
    padding-left: 3%;
    width: 35%;
    line-height: 1.3rem;
  }
  button {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1140px) {
  h1 {
    width: 40%;
  }
}

@media only screen and (max-width: 950px) {
  .headerContainer {
    background-image: url("../images/headerBackground950.png");
  }
  .headerContentsContainer {
    margin-top: 10%;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 45%;
  }
  .subHeader {
    font-size: 1.2rem;
    width: 40%;
  }
  .headerParagraph {
    width: 45%;
  }
}

@media only screen and (max-width: 675px) {
  .innerWrapper {
    position: relative;
  }
  .headerContainer {
    background-image: url("../images/headerBackground674.png");
    background-position: 80% 0px;
    height: 100vh;
  }
  .headerContentsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 45%;
  }
  h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
  }
  .subHeader,
  .headerParagraph {
    width: 100%;
    padding: 0 5%;
  }
  .subHeader {
    text-align: center;
    padding: 2%;
  }
  .headerParagraph {
    padding-bottom: 5%;
  }
  .headerContents {
    text-align: center;
  }
  .iconSection,
  .contactFormContainer,
  footer {
    display: none;
  }
}

@media only screen and (max-width: 675px) {
  .headerContainer {
    background-position: 50% 0px;
  }
  h1 {
    margin-top: 7%;
  }
}

@media only screen and (max-width: 457px) {
  .headerContainer {
    background-image: url("../images/headerBackground457.png");
  }
}

@media only screen and (max-width: 355px) {
  h1 {
    margin-top: 0%;
    font-size: 2rem;
  }
  .subHeader {
    font-size: 1rem;
    line-height: 1rem;
  }
  .headerParagraph {
    font-size: 0.9rem;
    text-align: left;
    padding: 7%;
  }
}

.sectionHeading h2 {
  text-transform: capitalize;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  color: #808080;
}

.projects {
  background-color: rgba(220, 220, 220, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  padding: 5% 0;
}

.zoltarSpeaksContents p,
.foodieAppContents p,
.eventsAppContents p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Merriweather Sans', sans-serif;
}

.zoltarSpeaksContainer,
.foodieAppContainer,
.eventsAppContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zoltarSpeaksContents,
.foodieAppContents,
.eventsAppContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 5%;
  margin-left: 5%;
}

.zoltarImageContainer,
.foodieAppImageContainer,
.eventsAppImageContainer {
  width: 50%;
}

.zoltarImageContainer,
.eventsAppImageContainer {
  margin: 0 5%;
}

.iconContainer img {
  width: 10vw;
  height: 10vh;
}

.fireBaseLogo img,
.w3cLogo img,
.vsCodeLogo img,
.responsiveLogo img {
  width: 10vw;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jQueryLogo img {
  width: 7vw;
}

.skillsToolkit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

.iconGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20vw;
}

i {
  margin: 0 1rem;
  padding-bottom: 55%;
  font-size: 5rem;
  font-size: 4rem;
}

.jQuerryLogo {
  width: 10vw;
}

.contactFormContainer {
  padding: 5% 0;
}

footer {
  color: #fff;
  background: #808080;
}

@media only screen and (max-width: 1577px) {
  .iconGrouping {
    margin: 0 18vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 1490px) {
  .iconGrouping {
    margin: 0 15vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 1310px) {
  .zoltarHeading,
  .eventsHeading,
  .zoltarParagraph,
  .eventsParagraph,
  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer {
    margin-left: 10%;
  }
  .foodieAppImageContainer {
    margin-left: 3%;
  }
  .iconGrouping {
    margin: 0 12vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 1193px) {
  .iconGrouping {
    margin: 0 11vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 1074px) {
  .iconGrouping {
    margin: 0 18vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  i {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1030px) {
  .skillsToolkit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .iconGroupOne,
  .iconGroupTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
  }
}

@media only screen and (max-width: 1026px) {
  .iconGrouping {
    margin: 0 22vw;
  }
  i {
    font-size: 5rem;
    margin: 0 35%;
  }
}

@media only screen and (max-width: 896px) {
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .zoltarImageContainer .eventsAppImageContainer {
    width: 66%;
  }
  .zoltarSpeaksButtonContainer button,
  .eventsAppButtonContainer button {
    margin: 3% 0;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 836px) {
  .iconGrouping {
    margin: 0 25vw;
  }
  i {
    font-size: 5rem;
    margin: 0 15%;
  }
}

@media only screen and (max-width: 823px) {
  .iconGrouping {
    margin: 0 25vw;
  }
  i {
    font-size: 5rem;
    margin: 0 15%;
  }
}

@media only screen and (max-width: 770px) {
  .iconContainer {
    margin: 0 5%;
  }
  .jQueryLogo img,
  .w3cLogo img {
    width: 116px;
    border: 2px solid red;
  }
}

@media only screen and (max-width: 767px) {
  .zoltarSpeaksContents,
  .foodieAppContents,
  .eventsAppContents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .zoltarImageContainer,
  .foodieAppImageContainer,
  .eventsAppImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: 0;
  }
  .zoltarSpeaksContainer,
  .foodieAppContainer,
  .eventsAppContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5%;
  }
  p.zoltarParagraph,
  .zoltarHeading,
  p.foodieParagraph,
  .foodieHeading,
  p.eventsParagraph,
  .eventsHeading {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 5%;
  }
  .zoltarHeading,
  .foodieHeading,
  .eventsHeading {
    padding-top: 5%;
  }
  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer {
    margin: 0;
    padding-left: 5%;
    padding-top: 3%;
  }
  .foodieAppButtonContainer {
    margin: 0;
    padding-top: 3%;
  }
}

@media only screen and (max-width: 509px) {
  .iconGrouping {
    margin: 0 25vw;
    border: 2px solid purple;
  }
  i {
    font-size: 5rem;
    margin: 0 15%;
  }
  .jQueryLogo img,
  .fireBaseLogo img,
  .w3cLogo img,
  .vsCodeLogo img,
  .responsiveLogo img {
    width: 21vw;
  }
}

@media only screen and (max-width: 355px) {
  .iconGrouping {
    margin: 0 20vw;
    border: 2px solid purple;
  }
  i {
    font-size: 4rem;
    margin: 0 15%;
  }
  .jQueryLogo img,
  .fireBaseLogo img,
  .w3cLogo img,
  .vsCodeLogo img,
  .responsiveLogo img {
    width: 21vw;
  }
}

.contactFormContainer {
  background-color: rgba(220, 220, 220, 0.2);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.contactFieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.contactFormCommentButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formContainer {
  width: 80%;
  margin-top: -14%;
}

.formContents {
  width: 87%;
}

.contactFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactParagraph {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif;
}

.formContents {
  width: 87%;
}

#contactName,
#contactEmail {
  border: none;
  background: #fff;
  padding: 0 5%;
  padding: 3%;
  width: 45%;
}

#contactComment {
  background: #fff;
  border-radius: 10px;
}

.contactFieldset {
  border: none;
}

.contactButton {
  text-align: center;
  line-height: 32px;
  padding: 0.7rem;
  font-size: 1rem;
  margin: 0;
}

.contactFormCommentButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactName,
#contactEmail {
  border: none;
  border-bottom: 1px solid #fff;
  width: 45%;
}

#contactComment {
  border: 1px solid #fff;
  width: 100%;
}

.contactForm input,
textarea {
  color: #8f278f;
  padding: 3%;
  resize: none;
}

input#contactName,
input#contactEmail,
textarea#contactComment {
  border-bottom: 2px solid #8f278f;
}

#contactName:focus-within,
#contactEmail:focus-within,
#contactComment:focus-within {
  border: 2px solid #8f278f;
}

.submitButton p {
  padding: 0.2rem;
  font-size: 1rem;
}

.submitButtonContainer {
  margin: 3% 0;
}
