article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, button, p, li, ul, a, img {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  font-weight: 500;
}

h1 {
  font-family: 'Gravitas One', cursive;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.7rem;
  color: #686666;
  text-align: center;
  padding-top: 1%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #686666;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

a {
  color: #686666;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a a:hover {
  color: #8f278f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navLinks a:hover {
  color: #8f278f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
  overflow: hidden;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  border: none;
  background: none;
  border: 2px solid #8f278f;
  border-radius: 0.5rem;
  cursor: pointer;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #8f278f;
  border: 2px solid #686666;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  border: 2px solid #8f278f;
}

button:hover a {
  cursor: pointer;
  color: #fff;
}

button:hover::before {
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

input {
  border-bottom: 1px solid #8f278f;
}

fieldset {
  border: none;
}

.sendEmail {
  color: #686666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sendEmail:hover {
  color: #fff;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1380px;
  margin: 0 auto;
  height: 100%;
}

footer p {
  text-align: center;
  font-size: 0.7rem;
  padding: 1.5% 7%;
  line-height: 1rem;
}

html {
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.headerContainer {
  background: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whitneyReidLogo {
  width: 65%;
  height: 65%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.headerContentsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1% 0;
}

.navLinks a {
  color: #686666;
  font-family: 'Montserrat', sans-serif;
}

nav li:first-child {
  padding-left: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  padding: 0 5%;
  text-transform: uppercase;
}

.logoContainer {
  margin-right: 3%;
}

.sectionHeading {
  text-transform: capitalize;
  font-family: 'Gravitas One', cursive;
  color: #8f278f;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.headerTitle {
  color: #8f278f;
}

.subHeader {
  color: #686666;
  padding: 1% 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.headerParagraph {
  padding-top: 3%;
  width: 43%;
  line-height: 1.5rem;
  color: #686666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.headerConnect {
  padding-top: 1%;
  padding-bottom: 8%;
}

.connect {
  color: #686666;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 3px solid #8f278f;
  padding-bottom: 0.2%;
  font-family: 'Montserrat', sans-serif;
}

.connect:hover {
  color: #e61c5d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 90px;
  padding-right: 1%;
  z-index: 10;
}

.headerIcons i {
  font-size: 1.5rem;
  color: #8f278f;
  padding: 0% 15px;
  cursor: pointer;
}

.headerIcons i:hover {
  color: #e61c5d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.arrowContainer {
  color: #8f278f;
  cursor: pointer;
  position: absolute;
  bottom: 2%;
}

.arrowContainer i {
  font-size: 2rem;
}

.arrowContainer:hover {
  color: #e61c5d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/* CORE STYLES */
:root {
  --primary-color: rgba(144, 39, 142, 1);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hamburger Line */
.hamburger {
  position: absolute;
  right: 0;
}

.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  font-size: 2rem;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #fab281;
}

@media only screen and (max-width: 1576px) {
  .headerContainer {
    background-position: 70% 0px;
  }
  .innerWrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1416px) {
  .innerWrapper {
    max-width: 1180px;
    margin: 0 auto;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 4.7rem;
  }
  .headerParagraph {
    width: 46%;
  }
}

@media only screen and (max-width: 1305px) {
  .logoContainer {
    padding-left: 3%;
  }
  h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    line-height: 5rem;
    padding-left: 3%;
    padding-top: 1%;
  }
  .subHeader,
  .headerParagraph {
    padding-left: 3%;
  }
  .headerParagraph, .headerConnect {
    padding-left: 3%;
    width: 48%;
    line-height: 1.3rem;
  }
  button {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 1256px) {
  h1 {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .navLinks {
    display: none;
  }
  .arrowContainer {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1255px) {
  h1 {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1232px) {
  h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

@media only screen and (max-width: 1140px) {
  h1 {
    width: 40%;
  }
}

@media only screen and (max-width: 950px) {
  .headerContentsContainer {
    padding-top: 10%;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 35%;
    margin-top: 10%;
  }
  .headerConnect {
    padding-bottom: 0%;
  }
  .subHeader {
    font-size: 1.2rem;
    width: 100%;
  }
  .headerParagraph {
    width: 45%;
  }
}

@media only screen and (max-width: 899px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .innerWrapper {
    position: relative;
  }
  .headerContentsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 40%;
  }
  h1 {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    font-size: 2.3rem;
    margin-top: 0;
    line-height: 3rem;
  }
  .subHeader,
  .headerParagraph {
    width: 100%;
    padding: 0 8%;
  }
  .subHeader {
    text-align: center;
    padding: 2%;
    font-size: 1.3rem;
  }
  .headerParagraph {
    padding-bottom: 0 7%;
    font-size: 1rem;
    text-align: left;
    padding-top: 5%;
  }
  .headerContents {
    text-align: center;
  }
  .whitneyLogo {
    display: none;
  }
  .headerConnect {
    width: 100%;
    padding: 1% 8%;
  }
  .arrowContainer {
    margin-top: 6%;
  }
  .zoltarSpeaksContents,
  .foodieAppContents,
  .eventsAppContents {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 712px) {
  h1 {
    font-size: 2rem;
  }
  .subHeader {
    font-size: 1.1rem;
  }
  .headerParagraph {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 628px) {
  h1 {
    font-size: 1.7rem;
  }
  .subHeader {
    font-size: 1rem;
  }
  .headerParagraph {
    font-size: 0.9rem;
  }
  .headerConnect {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 546px) {
  .headerContentsContainer {
    top: 36%;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 492px) {
  h1 {
    font-size: 1.4rem;
  }
  .subHeader {
    font-size: 1rem;
  }
  .headerParagraph {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .headerConnect {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 464px) {
  h1 {
    font-size: 1.3rem;
  }
  .headerContentsContainer {
    top: 42%;
  }
}

@media only screen and (max-width: 436px) {
  .headerContentsContainer {
    top: 39%;
  }
  h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .sectionHeading {
    line-height: 1.9rem;
    padding: 7% 5%;
  }
}

@media only screen and (max-width: 390px) {
  h1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .subHeader {
    font-size: 0.5rem;
  }
  .headerParagraph {
    line-height: 1rem;
  }
  .headerContentsContainer {
    top: 30%;
  }
}

@media only screen and (max-width: 360px) {
  .headerContentsContainer {
    top: 32%;
  }
  h1 {
    margin: 0%;
  }
  .subHeader {
    font-size: 0.8rem;
  }
  .headerConnect {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1rem;
    line-height: 2.2rem;
  }
  .subHeader {
    font-size: 1rem;
    line-height: 1rem;
  }
  .headerParagraph {
    font-size: 0.9rem;
    text-align: left;
    padding: 7%;
  }
  .menu {
    width: 100%;
  }
}

.projects {
  background-color: rgba(220, 220, 220, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  padding: 5% 0;
}

.skills {
  display: block;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #686666;
}

.zoltarSpeaksContents p,
.eventsAppContents p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 7%;
  padding-top: 5%;
  color: #686666;
}

.zoltarSpeaksContents p {
  padding-right: 7%;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 7%;
  padding-top: 5%;
  color: #686666;
}

.foodieAppContents p {
  padding-right: 13%;
  padding-top: 5%;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #686666;
}

.eventsAppContents p {
  padding-right: 11%;
}

.zoltarSpeaksContainer,
.foodieAppContainer,
.eventsAppContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zoltarHeading,
.foodieHeading,
.eventsHeading {
  padding-top: 5%;
  padding-left: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #e61c5d;
  font-size: 1.2rem;
}

.zoltarSpeaksContents,
.foodieAppContents,
.eventsAppContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 5%;
}

.zoltarImageContainer,
.eventsAppImageContainer {
  width: 50%;
  cursor: pointer;
}

.foodieAppImageContainer {
  width: 50%;
  margin-left: -5%;
  margin-right: 5%;
  cursor: pointer;
}

.skillsToolkit {
  padding: 8% 0;
}

.iconGrouping {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
  grid-gap: 40px;
  margin: 10% 12%;
}

.iconGrouping img {
  width: 80px;
  height: 80px;
}

.gridItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
}

.contactFormContainer {
  padding-top: 5%;
  padding-bottom: 2%;
}

.contactFieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  color: #000;
}

footer {
  color: #fff;
  background: #8f278f;
}

.footerParagraph p {
  color: #fff;
}

@media only screen and (max-width: 1622px) {
  .iconGrouping {
    margin: 11%;
  }
}

@media only screen and (max-width: 1585px) {
  .iconGrouping {
    margin: 8% 9%;
  }
}

@media only screen and (max-width: 1477px) {
  .iconGrouping {
    margin: 8% 7%;
  }
}

@media only screen and (max-width: 1439px) {
  .iconGrouping {
    margin: 0 6%;
  }
}

@media only screen and (max-width: 1405px) {
  .iconGrouping {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 1383px) {
  .iconGrouping {
    margin: 8% 5%;
  }
}

@media only screen and (max-width: 1375px) {
  .zoltarHeading,
  .eventsHeading,
  .zoltarParagraph,
  .eventsParagraph,
  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer {
    margin-left: 10%;
  }
  .foodieAppImageContainer {
    margin-left: 3%;
  }
  .iconGrouping {
    margin: 8% 4%;
  }
}

@media only screen and (max-width: 1345px) {
  .iconGrouping {
    margin: 0 15%;
  }
}

@media only screen and (max-width: 1315px) {
  .iconGrouping {
    margin: 8% 2%;
  }
}

@media only screen and (max-width: 1289px) {
  .iconGrouping {
    margin: 0px 15%;
  }
}

@media only screen and (max-width: 1030px) {
  .iconGroupOne,
  .iconGroupTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media only screen and (max-width: 896px) {
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .zoltarImageContainer .eventsAppImageContainer {
    width: 66%;
  }
  .zoltarSpeaksButtonContainer button,
  .eventsAppButtonContainer button {
    margin: 3% 0;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 896px) {
  .iconGrouping img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 789px) {
  .foodieAppButtonContainer button {
    margin: 3% 0;
  }
}

@media only screen and (max-width: 767px) {
  .zoltarSpeaksContents,
  .foodieAppContents,
  .eventsAppContents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .zoltarImageContainer,
  .foodieAppImageContainer,
  .eventsAppImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: 0;
  }
  .zoltarSpeaksContainer,
  .foodieAppContainer,
  .eventsAppContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5%;
  }
  p.zoltarParagraph,
  .zoltarHeading,
  p.foodieParagraph,
  .foodieHeading,
  p.eventsParagraph,
  .eventsHeading {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .zoltarHeading,
  .foodieHeading,
  .eventsHeading {
    padding-top: 5%;
    padding-left: 0;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    padding-left: 0;
    padding-right: 5%;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .skills {
    font-size: 0.9rem;
  }
  .zoltarSpeaksButtonContainer,
  .eventsAppButtonContainer,
  .foodieAppButtonContainer {
    margin: 0;
    padding-top: 3%;
  }
  .foodieAppButtonContainer a {
    font-size: 0.9rem;
  }
  .contactFieldset {
    margin: 0px 10%;
  }
}

@media only screen and (max-width: 497px) {
  .sectionHeading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .zoltarSpeaksContainer,
  .foodieAppContainer,
  .eventsAppContainer {
    margin-left: 9%;
  }
  .skills {
    font-size: 0.8rem;
  }
  .sectionHeading {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 3%;
  }
  .zoltarHeading,
  .foodieHeading,
  .eventsHeading {
    font-size: 0.9rem;
  }
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  .contactFieldset {
    margin: 0;
  }
}

@media only screen and (max-width: 355px) {
  .sectionHeading {
    font-size: 1.2rem;
    padding: 10% 0;
  }
  footer p {
    text-align: center;
    font-size: 0.7rem;
    padding: 1.5% 7%;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  p.zoltarParagraph,
  p.foodieParagraph,
  p.eventsParagraph {
    font-size: 0.9rem;
    line-height: 1rem;
    padding-right: 0%;
  }
}

.contactFormContainer {
  background-color: rgba(220, 220, 220, 0.2);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.contactFieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 25%;
}

.contactFormCommentButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email {
  text-transform: lowercase;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 3px solid #8f278f;
  padding-bottom: 0.2%;
  font-family: 'Montserrat', sans-serif;
}

.email:hover {
  color: #e61c5d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.formContents {
  width: 87%;
}

.contactFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactParagraph1 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif;
  padding-bottom: 1rem;
  color: #696969;
}

.contactParagraph2 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif;
  padding-bottom: 2rem;
  color: #696969;
}

textarea {
  height: 250px;
}

#contactName,
#contactEmail {
  border: none;
  background: #fff;
  padding: 0 5%;
  padding: 2%;
  width: 45%;
  border-radius: 10px;
}

#contactComment {
  background: #fff;
  border-radius: 10px;
}

.contactFieldset {
  border: none;
  margin-top: 0;
  padding: 0;
}

.contactButton {
  text-align: center;
  line-height: 32px;
  padding: 0.7rem;
  font-size: 1rem;
  margin: 0;
}

.contactFormCommentButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactName,
#contactEmail {
  border: none;
  border-bottom: 1px solid #fff;
  width: 45%;
}

#contactComment {
  border: 1px solid #fff;
  width: 100%;
}

.contactForm input,
textarea {
  color: #8f278f;
  padding: 3%;
  resize: none;
}

input#contactName,
input#contactEmail,
textarea#contactComment {
  border-bottom: 2px solid #8f278f;
}

#contactName:focus-within,
#contactEmail:focus-within,
#contactComment:focus-within {
  border: 2px solid #8f278f;
}

.submitButton p {
  padding: 0.2rem;
  font-size: 1rem;
}

.submitButtonContainer {
  margin: 7% 0;
}

.socialHandles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  cursor: pointer;
}

.socialHandles i {
  font-size: 1.5rem;
  margin: 0 2rem;
  color: #8f278f;
}

.socialHandles i:hover {
  color: #e61c5d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 859px) {
  .contactFieldset {
    margin: 0 10%;
  }
}

@media only screen and (max-width: 768px) {
  .contactFieldset {
    margin: 0 10%;
  }
  .contactFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFieldset {
    margin: 0 7%;
  }
  input {
    padding: 15% 0;
  }
  #contactName,
  #contactEmail {
    width: 100%;
    margin: 5% 0;
  }
  .socialHandles {
    margin: 15% 0;
  }
}

@media only screen and (max-width: 551px) {
  .iconGrouping {
    margin: 0 4%;
    margin-top: 3%;
    grid-gap: 0;
    -ms-grid-columns: (minmax(73px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(73px, 1fr));
  }
  .iconGrouping img {
    width: 50px;
    height: 50px;
  }
  .contactParagraph1,
  .contactParagraph2 {
    font-size: 0.9rem;
  }
  .contactFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFieldset {
    margin: 0 7%;
  }
  input {
    padding: 15% 0;
  }
  #contactName,
  #contactEmail {
    width: 100%;
    margin: 5% 0;
  }
  .socialHandles {
    margin: 15% 0;
  }
}

@media only screen and (max-width: 360px) {
  p.eventsParagraph {
    padding-left: 0%;
  }
  .contactFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFieldset {
    margin: 0 7%;
  }
  input {
    padding: 15% 0;
  }
  #contactName,
  #contactEmail {
    width: 100%;
    margin: 5% 0;
  }
  .socialHandles {
    margin: 15% 0;
  }
}
